name: CI
env:
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.2
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.12.0
      - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
      - run: npm install -g pnpm
      - run: pnpm install
      - run: rm -rf .npmrc
      - run: npx prisma migrate dev --schema node_modules/express-prisma-types-template/prisma/schema.prisma --name init
        env:
          DATABASE_URL: postgresql://postgres:password@localhost:5432/express_prisma_template?schema=public
      - run: pnpm test
        env:
          DATABASE_URL: postgresql://postgres:password@localhost:5432/express_prisma_template?schema=public
      - run: |
          cd ./coverage/lcov-report
          npm install -g vercel
          vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
          vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
